.leaflet-container
{
    width:50%;
    height:80vh;
    background-color:lightgrey;
    margin-right:30px;
}
.leaflet-div-icon {
    background: transparent;
    border: none;
    /* color:green; */
}